# Stock DataFrame

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from dateutil.relativedelta import relativedelta
import unittest
import numpy.testing

### Reading the .csv file into a DataFrame

In [2]:
filename = "AAPL.US.csv"
#we only need date,open,high,low,close, so only reading first 5 columns
df = pd.read_csv(filename,usecols=range(5))
df = df.set_index('Date')
df.index = pd.to_datetime(df.index)

## Weekly datas using resample and ffill

In [3]:
weekly_sampled_high=df.High.resample('W-MON').max()
weekly_sampled_low=df.Low.resample('W-MON').min()
dfwh=weekly_sampled_high.to_frame()
dfwl=weekly_sampled_low.to_frame()
dfwh.columns=["Weekly_Maximum_High"]
dfwl.columns=["Weekly_Minimum_Low"]
df=df.join(dfwh,lsuffix='')
df=df.join(dfwl,lsuffix='')
df.ffill()

,Open,High,Low,Close,Weekly_Maximum_High,Weekly_Minimum_Low
Date,,,,,,
2021-08-06,146.35,147.11,145.63,146.14,NaN,NaN
2021-08-09,146.20,146.70,145.52,146.09,147.11,145.52
2021-08-10,146.44,147.71,145.30,145.60,147.11,145.52
2021-08-11,146.05,146.72,145.53,145.86,147.11,145.52
2021-08-12,146.19,149.05,145.84,148.89,147.11,145.52
...,...,...,...,...,...,...
2022-08-01,161.01,163.59,160.89,161.51,163.63,150.80
2022-08-02,160.10,162.41,159.63,160.01,163.63,150.80
2022-08-03,160.84,166.59,160.75,166.13,163.63,150.80
2022-08-04,166.01,167.19,164.43,165.81,163.63,150.80
2022-08-05,163.21,165.85,163.00,165.35,163.63,150.80

## Monthly datas using resample and ffill

In [4]:
monthly_sampled_high=df.High.resample('BM').max()
monthly_sampled_low=df.Low.resample('BM').min()
dfmh=monthly_sampled_high.to_frame()
dfml=monthly_sampled_low.to_frame()
dfmh.columns=["Monthly_Maximum_High"]
dfml.columns=["Monthly_Minimum_Low"]
df=df.join(dfmh,lsuffix='')
df=df.join(dfml,lsuffix='')
df.ffill()

,Open,High,Low,Close,Weekly_Maximum_High,Weekly_Minimum_Low,Monthly_Maximum_High,Monthly_Minimum_Low
Date,,,,,,,,
2021-08-06,146.35,147.11,145.63,146.14,NaN,NaN,NaN,NaN
2021-08-09,146.20,146.70,145.52,146.09,147.11,145.52,NaN,NaN
2021-08-10,146.44,147.71,145.30,145.60,147.11,145.52,NaN,NaN
2021-08-11,146.05,146.72,145.53,145.86,147.11,145.52,NaN,NaN
2021-08-12,146.19,149.05,145.84,148.89,147.11,145.52,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-08-01,161.01,163.59,160.89,161.51,163.63,150.80,163.63,135.66
2022-08-02,160.10,162.41,159.63,160.01,163.63,150.80,163.63,135.66
2022-08-03,160.84,166.59,160.75,166.13,163.63,150.80,163.63,135.66
2022-08-04,166.01,167.19,164.43,165.81,163.63,150.80,163.63,135.66
2022-08-05,163.21,165.85,163.00,165.35,163.63,150.80,163.63,135.66

#### Quarterly datas using resample and ffill

In [5]:
quarterly_sampled_high=df.High.resample('BQ').max()
quarterly_sampled_low=df.Low.resample('BQ').min()
dfqh=quarterly_sampled_high.to_frame()
dfql=quarterly_sampled_low.to_frame()
dfqh.columns=["Quarterly_Maximum_High"]
dfql.columns=["Quarterly_Minimum_Low"]
df=df.join(dfqh,lsuffix='')
df=df.join(dfql,lsuffix='')
df.ffill()

,Open,High,Low,Close,Weekly_Maximum_High,Weekly_Minimum_Low,Monthly_Maximum_High,Monthly_Minimum_Low,Quarterly_Maximum_High,Quarterly_Minimum_Low
Date,,,,,,,,,,
2021-08-06,146.35,147.11,145.63,146.14,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-09,146.20,146.70,145.52,146.09,147.11,145.52,NaN,NaN,NaN,NaN
2021-08-10,146.44,147.71,145.30,145.60,147.11,145.52,NaN,NaN,NaN,NaN
2021-08-11,146.05,146.72,145.53,145.86,147.11,145.52,NaN,NaN,NaN,NaN
2021-08-12,146.19,149.05,145.84,148.89,147.11,145.52,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-08-01,161.01,163.59,160.89,161.51,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-02,160.10,162.41,159.63,160.01,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-03,160.84,166.59,160.75,166.13,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-04,166.01,167.19,164.43,165.81,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-05,163.21,165.85,163.00,165.35,163.63,150.80,163.63,135.66,178.49,129.04

## Calculating Weekly Maximum Highs and Minimum Lows

#### Creating method to find last week

In [6]:
def find_last_week(date):
    #generating last week's dates
    last_week=[]
    dates = [date + dt.timedelta(days=i) 
                        for i in range(-7 - date.weekday(), -2 - date.weekday())]
    #filtering out the dates that are in the DataFrame
    for d in dates:
        if(df.index.__contains__(d)):
            last_week.append(d)
    return last_week

#### Testing find_last_week method

In [7]:
class TestWeek(unittest.TestCase):
    #there is no weekly data before 2021.08.06
    def test_find_last_week_empty(self):
        self.assertEqual(find_last_week(dt.datetime(2021,8,6)),
                         [])
    #the only weekly data before 2021.08.09 is the day 2021.08.06
    def test_find_last_week_one(self):
        self.assertEqual(find_last_week(dt.datetime(2021,8,9)),
                         [dt.datetime(2021,8,6)])
    #there is one full week in the DataFrame before 2022.08.08
    def test_find_last_week_full(self):
        first = dt.datetime(2022,8,1)
        last = dt.datetime(2022,8,5)
        datelist = pd.date_range(first, last).tolist()
        self.assertEqual(find_last_week(dt.datetime(2022,8,8)),
                        datelist)
if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.002s

OK

#### Storing weekly data

In [8]:
weekly_highs = []
weekly_lows = []
for row in df.iterrows():
    #find last week's dates that are in the DataFrame
    final_dates= find_last_week(row[0])
    #if any date matches the DataFrame, collect data and append to the array
    if final_dates:
        weekly_highs.append(max(df.loc[final_dates].High))
        weekly_lows.append(min(df.loc[final_dates].Low))
    #if no date matches, append the array with 'NaN'
    else: 
        weekly_highs.append(np.nan)
        weekly_lows.append(np.nan)

#### Adding Weekly data to the DataFrame

In [9]:
df["Weekly_Maximum_High"] = weekly_highs
df["Weekly_Minimum_Low"] = weekly_lows

## Calculating Monthly Maximum Highs and Minimum Lows

#### Creating method to find last month

In [10]:
def find_last_month(date):
    #finding last month
    last_month=[]
    first = date.replace(day=1)
    lastOfMonth = first - dt.timedelta(days=1)
    firstOfMonth = lastOfMonth.replace(day=1);
    #generating last month's dates
    dates = pd.date_range(firstOfMonth,lastOfMonth,freq='d')
    #filtering out the dates that are in the DataFrame
    for d in dates:
        if(df.index.__contains__(d)):
            last_month.append(d)
    return last_month

#### Testing find_last_month method

In [11]:
class TestMonth(unittest.TestCase):
    #there is no monthly data before 2021.08.06
    def test_find_last_month_empty(self):
        self.assertEqual(find_last_month(dt.datetime(2021,8,6)),
                         [])
    def test_find_last_month_half(self):
        #generating the month of august that is in the dataframe excluding weekends
        first = dt.datetime(2021,8,6)
        last = dt.datetime(2021,8,31)
        datelist=[]
        weekdays = [5,6]
        for day in pd.date_range(first,last):
            if day.weekday() not in weekdays:
                datelist.append(day)
        self.assertEqual(find_last_month(dt.datetime(2021,9,5)),
                        datelist)
    def test_find_last_month_full(self):
        #generating full month excluding weekends
        first = dt.datetime(2021,10,1)
        last = dt.datetime(2021,10,31)
        datelist = pd.date_range(first, last).tolist()
        datelist=[]
        weekdays = [5,6]
        for day in pd.date_range(first,last):
            if day.weekday() not in weekdays:
                datelist.append(day)
        self.assertEqual(find_last_month(dt.datetime(2021,11,5)),
                        datelist)
        
if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

......
----------------------------------------------------------------------
Ran 6 tests in 0.004s

OK

#### Storing monthly data

In [12]:
monthly_highs = []
monthly_lows = []
for row in df.iterrows():
    #finding last
    final_dates=find_last_month(row[0])
    #if any date matches the DataFrame, collect data and append to the array
    if final_dates:
        monthly_highs.append(max(df.loc[final_dates].High))
        monthly_lows.append(min(df.loc[final_dates].Low))
    #if no date matches, append the array with 'NaN'
    else: 
        monthly_highs.append(np.nan)
        monthly_lows.append(np.nan)

#### Adding Monthly data to the DataFrame

In [13]:
df["Monthly_Maximum_High"] = monthly_highs
df["Monthly_Minimum_Low"] = monthly_lows
df

,Open,High,Low,Close,Weekly_Maximum_High,Weekly_Minimum_Low,Monthly_Maximum_High,Monthly_Minimum_Low,Quarterly_Maximum_High,Quarterly_Minimum_Low
Date,,,,,,,,,,
2021-08-06,146.35,147.11,145.63,146.14,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-09,146.20,146.70,145.52,146.09,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-10,146.44,147.71,145.30,145.60,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-11,146.05,146.72,145.53,145.86,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-12,146.19,149.05,145.84,148.89,147.11,145.63,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-08-01,161.01,163.59,160.89,161.51,163.63,150.80,163.63,135.66,NaN,NaN
2022-08-02,160.10,162.41,159.63,160.01,163.63,150.80,163.63,135.66,NaN,NaN
2022-08-03,160.84,166.59,160.75,166.13,163.63,150.80,163.63,135.66,NaN,NaN
2022-08-04,166.01,167.19,164.43,165.81,163.63,150.80,163.63,135.66,NaN,NaN
2022-08-05,163.21,165.85,163.00,165.35,163.63,150.80,163.63,135.66,NaN,NaN

## Calculating Quarterly Maximum Highs and Minimum Lows

#### Creating method to find last quarter

In [14]:
def find_last_quarter(date):
    #finding last quarter
    last_quarter=[]
    quarter = pd.Timestamp(date).quarter - 1
    begin = quarter*3-2
    year=date.year
    if(0>begin):
        begin+=11
        year = date.year-1
    end = begin+3
    firstOfQuarter = date.replace(year=year,month=begin,day=1)
    lastOfQuarter = date.replace(month=(end+1)%12,day=1) - dt.timedelta(days=1)
    #generating last month's dates
    dates = pd.date_range(firstOfQuarter,lastOfQuarter,freq='d')
    #filtering out the dates that are in the DataFrame
    for d in dates:
        if(df.index.__contains__(d)):
            last_quarter.append(d)
    return last_quarter

#### Testing find_last_quarter method

In [15]:
class TestQuarter(unittest.TestCase):
    def test_find_last_quarter_empty(self):
        self.assertEqual(find_last_quarter(dt.datetime(2021,8,6)),
                         [])
    def test_find_last_quarter_full(self):
        #generating the month of august that is in the dataframe excluding weekends
        first = dt.datetime(2022,4,1)
        last = dt.datetime(2022,7,30)
        datelist=[]
        weekdays = [5,6]
        for day in pd.date_range(first,last):
            if day.weekday() not in weekdays:
                datelist.append(day)
        #removing non-trading days manually
        datelist.remove(dt.datetime(2022,4,15))
        datelist.remove(dt.datetime(2022,5,30))
        datelist.remove(dt.datetime(2022,6,20))
        datelist.remove(dt.datetime(2022,7,4))
        self.assertEqual(find_last_quarter(dt.datetime(2022,8,3)),
                        datelist)
        
if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

........
----------------------------------------------------------------------
Ran 8 tests in 0.007s

OK

#### Storing quarterly data

In [16]:
quarterly_highs = []
quarterly_lows = []
for row in df.iterrows():
    final_dates=find_last_quarter(row[0])
    #if any date matches the DataFrame, collect data and append to the array
    if final_dates:
        quarterly_highs.append(max(df.loc[final_dates].High))
        quarterly_lows.append(min(df.loc[final_dates].Low))
    #if no date matches, append the array with 'NaN'
    else:
        quarterly_highs.append(np.nan)
        quarterly_lows.append(np.nan)

#### Adding Quarterly data to the DataFrame

In [17]:
df["Quarterly_Maximum_High"] = quarterly_highs
df["Quarterly_Minimum_Low"] = quarterly_lows
df

,Open,High,Low,Close,Weekly_Maximum_High,Weekly_Minimum_Low,Monthly_Maximum_High,Monthly_Minimum_Low,Quarterly_Maximum_High,Quarterly_Minimum_Low
Date,,,,,,,,,,
2021-08-06,146.35,147.11,145.63,146.14,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-09,146.20,146.70,145.52,146.09,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-10,146.44,147.71,145.30,145.60,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-11,146.05,146.72,145.53,145.86,147.11,145.63,NaN,NaN,NaN,NaN
2021-08-12,146.19,149.05,145.84,148.89,147.11,145.63,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-08-01,161.01,163.59,160.89,161.51,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-02,160.10,162.41,159.63,160.01,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-03,160.84,166.59,160.75,166.13,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-04,166.01,167.19,164.43,165.81,163.63,150.80,163.63,135.66,178.49,129.04
2022-08-05,163.21,165.85,163.00,165.35,163.63,150.80,163.63,135.66,178.49,129.04